@{
    var title = Document.GetString("Title") ?? Document.GetString("SiteTitle");
    var tags = Document.GetList<string>("Tag") ?? new List<string>();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#157878">
    <title>@title</title>
    <link href="@Context.GetLink("/scss/style.css")" rel="stylesheet">
</head>

<body>

  <!-- Site Header -->
  @RenderSectionOrPartial("Header", "include/_header-of-post")

  <section class="page-header" style="padding-top: 80px; padding-bottom: 40px; background: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.0)), url('/assets/img/home-header.jpg') center center repeat;">
    <h1 class="project-name">@title</h1>
    @foreach (var tag in tags.Where(x => x != null))
    {
      <a>@tag</a>
    }
  </section>

  <section class="main-content">
    @RenderBody()

    <!-- Site Header -->
    @RenderSectionOrPartial("Footer", "include/_footer")
  </section>

  <!-- Site Stat -->
  @RenderSectionOrPartial("Stat", "include/_stat")
</body>

</html>
